/* TAG */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
}


/* UTILITY */

.bg-pink {
    background-color: #E579E6;
}

.bg-yellow {
    background-color: #E1D67A;
}

.bg-blue {
    background-color: #0086FF;
}

.bg-cyan {
    background-color: #ABCFE7;
}

.bg-violet {
    background-color: #8801FE;
}


/* padding/margin */

.mb-10 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: .5rem;
}

.px-5 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.pb-5 {
    padding-bottom: .5rem;
}


/* width /height */

.col-60 {
    width: 60%;
}

.col-20 {
    width: 20%;
}

.h-100 {
    height: 100%;
}


/* float */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

[class^="col-"] {
    float: left;
}


/* HEADER */

header {
    min-height: 5rem;
}


/* MAIN */


/* SECTION 1*/

.container-one {
    min-height: 24rem;
}


/* SECTION 2*/

.section-2-col {
    min-height: 24rem;
}

.row>.bg-cyan:nth-child(1) {
    min-height: 4rem;
    width: 100%;
}


/* FOOTER */

footer {
    min-height: 4rem;
}