/* TAG */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
    padding: .5rem 0;
}


/* UTILITY */

.bg-violet {
    background-color: #8801FE;
}

.gray {
    color: rgb(134, 134, 134)
}


/* padding/margin */

.mb-10 {
    margin-bottom: 1rem;
}

.mb-15 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: .5rem;
}

.px-5 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.pb-5 {
    padding-bottom: .5rem;
}

.pl-25 {
    padding-left: 2.5rem;
}

.p {
    padding: .5rem;
}

.radious {
    border-radius: 1rem;
}


/* width /height */

.col-50 {
    width: 50%;
}

.col-25 {
    width: 25%;
}

.h-100 {
    height: 100%;
}


/* float */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

[class^="col-"] {
    float: left;
}


/* HEADER */

header {
    min-height: 5rem;
}

.nav>a {
    /* display: inline-block */
    padding: .5rem;
    text-decoration: none;
    color: rgb(134, 134, 134);
}

header>img {
    width: 12rem;
    margin-bottom: 2rem;
    border-right: 1px solid rgb(206, 206, 206);
    ;
}


/* MAIN */


/* SECTION 1*/

.container-one {
    height: 20rem;
    padding-top: 8rem;
}

.bg-banner {
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
}

.desc>h1 {
    font-weight: lighter;
}

.desc {
    width: 60%;
    color: white;
}


/* SECTION 2*/

.section-2-col>img {
    width: 100%;
}

.section-2-col {
    min-height: 24rem;
}

.row>.col-:nth-child(1) {
    min-height: 4rem;
    width: 100%;
}

.img-s-2-center,
.img-s-2-left,
.img-s-2-right {
    background-size: cover;
    width: 100%;
    height: 10rem;
}

.img-s-2-left {
    background-image: url(../img/img-1.jpg)
}

.img-s-2-center {
    background-image: url(../img/banner-2.jpg);
}

.img-s-2-right {
    background-image: url(../img/img-3.jpg);
    background-color: rgb(139, 11, 11);
}


/* FOOTER */

footer {
    min-height: 4rem;
}

.info::after {
    content: "	\2764";
    color: red;
    font-size: 1rem;
}

.info {
    text-align: center;
}